body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame, img.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Letter-H_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Letter-V_rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.TOC-Heading {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Art-Captions {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:12px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Bios {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Body-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:24px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Interview-Paragraphs {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.rootstalk_Lead-Pages_Page-Headings--titles- {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.917;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.rootstalk_Running-Header {
	color:#414042;
	font-family:Times, serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.secondAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.secondTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
p.usetheseAuthors {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:72px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-36px;
	text-transform:none;
	widows:1;
}
p.usetheseTitles {
	color:#000000;
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:36px;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-24px;
	text-transform:none;
	widows:1;
}
span.Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Hyperlink {
	color:#215e9e;
	text-decoration:underline;
}
span.LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-H_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Author-Name {
	font-family:"Kannada MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_Drop-Cap {
	font-family:"Bell MT Regular", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.Letter-V_LeadPageTitles {
	font-family:"Kannada MN", sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.TOC-page-numbers {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:right;
}
p.ParaOverride-3 {
	margin-left:5px;
}
p.ParaOverride-4 {
	text-align:left;
	text-indent:0px;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
}
p.ParaOverride-6 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-7 {
	-epub-hyphens:none;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-8 {
	margin-left:0px;
}
p.ParaOverride-9 {
	text-indent:24px;
}
p.ParaOverride-10 {
	margin-left:14px;
	margin-right:9px;
}
p.ParaOverride-11 {
	margin-left:9px;
	margin-right:5px;
}
p.ParaOverride-12 {
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"Times New Roman", serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:"Minion Pro Bold Cond Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-7 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-8 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-9 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	font-family:"Kannada MN", sans-serif;
	font-size:30px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-12 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-13 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-14 {
	font-size:10px;
}
span.CharOverride-15 {
	font-size:24px;
}
span.CharOverride-16 {
	font-size:9px;
}
span.CharOverride-17 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-18 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	font-family:"Kannada MN", sans-serif;
	font-size:50px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-22 {
	font-family:"Kannada MN", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-24 {
	font-family:"Kannada MN", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-25 {
	font-family:"Minion Pro Bold Cond Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-26 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-27 {
	font-family:"Minion Pro", serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-28 {
	font-size:18px;
}
span.CharOverride-29 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-30 {
	font-size:11px;
}
span.CharOverride-31 {
	font-family:"Minion Pro Bold", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-32 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro Bold", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-33 {
	font-family:"Minion Pro Bold Cond", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-34 {
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-35 {
	font-family:"Minion Pro", serif;
	font-size:58%;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
	vertical-align:super;
}
span.CharOverride-36 {
	font-size:12px;
}
span.CharOverride-37 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-38 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-39 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-40 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-41 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-42 {
	font-size:24px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-43 {
	font-size:16px;
}
span.CharOverride-44 {
	color:#414042;
}
span.CharOverride-45 {
	color:#414042;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-46 {
	font-family:"Minion Pro", serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-47 {
	color:#414042;
	font-family:"Minion Pro", serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-48 {
	color:#414042;
	font-family:"Minion Pro Italic", sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-49 {
	font-size:13px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-50 {
	font-family:"Minion Pro Bold", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-51 {
	font-family:"Minion Pro", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-52 {
	font-size:20px;
}
span.CharOverride-53 {
	font-size:14px;
}
span.CharOverride-54 {
	font-family:"Minion Pro", serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-55 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-56 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-57 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-58 {
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.CharOverride-59 {
	font-size:13px;
	font-variant:normal;
	text-transform:none;
}
span.CharOverride-60 {
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:none;
}
span.CharOverride-61 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-62 {
	font-family:"Minion Pro Italic", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-63 {
	font-family:"Minion Pro", serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-64 {
	font-variant:small-caps;
	text-transform:none;
}
span.CharOverride-65 {
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-66 {
	-webkit-text-combine:none;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
}
span.CharOverride-67 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-68 {
	-webkit-text-combine:none;
	color:#215e9e;
	font-family:"Minion Pro", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-decoration:underline;
	text-transform:none;
}
._idGenDropcap-1 {
	float:left;
	font-size:2.846em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-2 {
	float:left;
	font-size:3.321em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.074em;
}
._idGenDropcap-3 {
	float:left;
	font-size:2.538em;
	line-height:1;
	margin-bottom:-0.273em;
	margin-right:0.05em;
	margin-top:-0.077em;
}
#_idContainer000 {
	display:inline-block;
	height:180px;
	width:539px;
}
#_idContainer002 {
	display:inline-block;
	height:510px;
	width:426px;
}
#_idContainer009 {
	display:inline-block;
	height:564px;
	width:514px;
}
#_idContainer016 {
	display:inline-block;
	height:147px;
	width:260px;
}
#_idContainer022, #_idContainer032 {
	display:inline-block;
	height:166px;
	width:122px;
}
#_idContainer023 {
	display:inline-block;
	height:105px;
	width:539px;
}
#_idContainer029 {
	display:inline-block;
	height:167px;
	width:116px;
}
#_idContainer038 {
	display:inline-block;
	height:792px;
	width:1224px;
}
#_idContainer039 {
	display:inline-block;
	height:3px;
	width:4px;
}
#_idContainer048, #_idContainer099, #_idContainer133, #_idContainer252, #_idContainer285 {
	display:inline-block;
	height:86px;
	width:283px;
}
#_idContainer051, #_idContainer082, #_idContainer239, #_idContainer339, #_idContainer354, #_idContainer393 {
	display:inline-block;
	height:269px;
	width:200px;
}
#_idContainer059, #_idContainer060 {
	display:inline-block;
	height:0px;
	position:relative;
	width:257px;
}
#_idContainer064 {
	display:inline-block;
	height:187px;
	width:234px;
}
#_idContainer067, #_idContainer370 {
	display:inline-block;
	height:0px;
	position:relative;
	width:387px;
}
#_idContainer069, #_idContainer372 {
	display:inline-block;
	height:0px;
	position:relative;
	width:384px;
}
#_idContainer073, #_idContainer075, #_idContainer121, #_idContainer123, #_idContainer145, #_idContainer146, #_idContainer303, #_idContainer304, #_idContainer319, #_idContainer320 {
	display:inline-block;
	height:0px;
	position:relative;
	width:166px;
}
#_idContainer076 {
	display:inline-block;
	height:86px;
	width:540px;
}
#_idContainer081 {
	display:inline-block;
	height:86px;
	width:272px;
}
#_idContainer091 {
	display:inline-block;
	height:335px;
	width:540px;
}
#_idContainer093, #_idContainer182, #_idContainer201, #_idContainer236, #_idContainer334, #_idContainer352, #_idContainer390, #_idContainer403, #_idContainer451 {
	display:inline-block;
	height:86px;
	width:295px;
}
#_idContainer095 {
	display:inline-block;
	height:227px;
	width:195px;
}
#_idContainer103 {
	display:inline-block;
	height:254px;
	width:193px;
}
#_idContainer112 {
	display:inline-block;
	height:218px;
	width:259px;
}
#_idContainer115, #_idContainer117 {
	display:inline-block;
	height:0px;
	position:relative;
	width:386px;
}
#_idContainer125 {
	display:inline-block;
	height:339px;
	width:506px;
}
#_idContainer132 {
	display:inline-block;
	height:406px;
	width:504px;
}
#_idContainer135 {
	display:inline-block;
	height:183px;
	width:223px;
}
#_idContainer149 {
	display:inline-block;
	height:282px;
	width:184px;
}
#_idContainer152 {
	display:inline-block;
	height:523px;
	width:540px;
}
#_idContainer157 {
	display:inline-block;
	height:166px;
	width:351px;
}
#_idContainer162 {
	display:inline-block;
	height:216px;
	width:375px;
}
#_idContainer165 {
	display:inline-block;
	height:210px;
	width:215px;
}
#_idContainer166 {
	display:inline-block;
	height:327px;
	width:226px;
}
#_idContainer171 {
	display:inline-block;
	height:338px;
	width:446px;
}
#_idContainer175 {
	display:inline-block;
	height:327px;
	width:538px;
}
#_idContainer179 {
	display:inline-block;
	height:101px;
	text-align:left;
	width:100px;
}
#_idContainer185 {
	display:inline-block;
	height:203px;
	overflow:hidden;
	width:198px;
}
#_idContainer192 {
	display:inline-block;
	height:306px;
	position:relative;
	width:216px;
}
#_idContainer193 {
	display:inline-block;
	height:306px;
	width:198px;
}
#_idContainer199 {
	display:inline-block;
	height:235px;
	width:267px;
}
#_idContainer203 {
	display:inline-block;
	height:230px;
	width:194px;
}
#_idContainer213 {
	display:inline-block;
	height:236px;
	width:359px;
}
#_idContainer214 {
	display:inline-block;
	height:236px;
	width:314px;
}
#_idContainer216 {
	display:inline-block;
	height:323px;
	width:210px;
}
#_idContainer217 {
	display:inline-block;
	height:215px;
	width:324px;
}
#_idContainer227 {
	display:inline-block;
	height:575px;
	width:384px;
}
#_idContainer231 {
	display:inline-block;
	height:318px;
	width:540px;
}
#_idContainer247 {
	display:inline-block;
	height:330px;
	width:539px;
}
#_idContainer250 {
	display:inline-block;
	height:73px;
	text-align:left;
	width:71px;
}
#_idContainer256, #_idContainer288 {
	display:inline-block;
	height:210px;
	width:202px;
}
#_idContainer260 {
	display:inline-block;
	height:86px;
	width:276px;
}
#_idContainer264 {
	display:inline-block;
	height:285px;
	width:201px;
}
#_idContainer274 {
	display:inline-block;
	height:431px;
	width:313px;
}
#_idContainer291 {
	display:inline-block;
	height:176px;
	width:200px;
}
#_idContainer297 {
	display:inline-block;
	height:216px;
	width:378px;
}
#_idContainer300 {
	display:inline-block;
	height:304px;
	width:233px;
}
#_idContainer306 {
	display:inline-block;
	height:244px;
	width:398px;
}
#_idContainer308, #_idContainer309 {
	display:inline-block;
	height:0px;
	position:relative;
	width:291px;
}
#_idContainer310 {
	display:inline-block;
	height:216px;
	width:372px;
}
#_idContainer315 {
	display:inline-block;
	height:256px;
	width:528px;
}
#_idContainer316 {
	display:inline-block;
	height:182px;
	width:323px;
}
#_idContainer325 {
	display:inline-block;
	height:366px;
	width:241px;
}
#_idContainer327 {
	display:inline-block;
	height:78px;
	text-align:left;
	width:72px;
}
#_idContainer328 {
	display:inline-block;
	height:0px;
	position:relative;
	width:235px;
}
#_idContainer329 {
	display:inline-block;
	height:0px;
	position:relative;
	width:239px;
}
#_idContainer330 {
	display:inline-block;
	height:366px;
	width:234px;
}
#_idContainer335, #_idContainer374 {
	display:inline-block;
	height:288px;
	width:539px;
}
#_idContainer344 {
	display:inline-block;
	height:636px;
	width:540px;
}
#_idContainer345 {
	display:inline-block;
	height:601px;
	width:460px;
}
#_idContainer350 {
	display:inline-block;
	height:601px;
	width:492px;
}
#_idContainer361 {
	display:inline-block;
	height:264px;
	width:540px;
}
#_idContainer366 {
	display:inline-block;
	height:355px;
	width:257px;
}
#_idContainer378 {
	display:inline-block;
	height:402px;
	width:539px;
}
#_idContainer384 {
	display:inline-block;
	height:403px;
	width:314px;
}
#_idContainer388 {
	display:inline-block;
	height:73px;
	text-align:left;
	width:75px;
}
#_idContainer400 {
	display:inline-block;
	height:528px;
	width:539px;
}
#_idContainer406 {
	display:inline-block;
	height:266px;
	width:200px;
}
#_idContainer411 {
	display:inline-block;
	height:505px;
	width:203px;
}
#_idContainer412 {
	display:inline-block;
	height:153px;
	width:540px;
}
#_idContainer418 {
	display:inline-block;
	height:168px;
	width:276px;
}
#_idContainer419 {
	display:inline-block;
	height:168px;
	width:275px;
}
#_idContainer423 {
	display:inline-block;
	height:297px;
	width:540px;
}
#_idContainer424 {
	display:inline-block;
	height:157px;
	width:288px;
}
#_idContainer428 {
	display:inline-block;
	height:152px;
	width:288px;
}
#_idContainer431 {
	display:inline-block;
	height:605px;
	width:463px;
}
#_idContainer433 {
	display:inline-block;
	height:178px;
	width:288px;
}
#_idContainer434, #_idContainer438 {
	display:inline-block;
	height:192px;
	width:288px;
}
#_idContainer442, #_idContainer443 {
	display:inline-block;
	height:177px;
	width:125px;
}
#_idContainer445 {
	display:inline-block;
	height:177px;
	width:123px;
}
#_idContainer452 {
	display:inline-block;
	height:189px;
	width:232px;
}
#_idContainer458 {
	display:inline-block;
	height:273px;
	width:540px;
}
#_idContainer467 {
	display:inline-block;
	height:288px;
	width:373px;
}
#_idContainer469 {
	display:inline-block;
	height:255px;
	width:360px;
}
#_idContainer473 {
	display:inline-block;
	height:322px;
	width:249px;
}
#_idContainer477 {
	display:inline-block;
	height:250px;
	width:211px;
}
#_idContainer484 {
	display:inline-block;
	height:421px;
	width:539px;
}
#_idContainer486 {
	display:inline-block;
	height:447px;
	width:324px;
}
#_idContainer490 {
	display:inline-block;
	height:73px;
	text-align:left;
	width:73px;
}
#_idContainer497 {
	display:inline-block;
	height:790px;
	position:relative;
	width:610px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:224px;
	width:118px;
}
img._idGenObjectAttribute-3 {
	-ms-transform:translate(-0.127%,-0.124%) rotate(0.000deg) skew(0.000deg) scale(1.016,0.996);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.127%,-0.124%) rotate(0.000deg) skew(0.000deg) scale(1.016,0.996);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(-0.127%,-0.124%) rotate(0.000deg) skew(0.000deg) scale(1.016,0.996);
	transform:translate(-0.127%,-0.124%) rotate(0.000deg) skew(0.000deg) scale(1.016,0.996);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#efebe0;
	border-color:#efebe0;
	border-style:double;
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#a7bb94;
}
div._idGenObjectStyleOverride-5 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#41ad49;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#d4d4d4;
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-9 {
	border-width:1px;
}
div._idGenObjectStyleOverride-10 {
	background-color:#5f9132;
	border-color:#5f9132;
	border-width:1px;
}
div._idGenObjectStyleOverride-11 {
	border-color:#5f9132;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-12 {
	background-color:#5f9132;
	border-color:#5f9132;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-13 {
	background-color:#41ad49;
}
div._idGenObjectStyleOverride-14 {
	background-color:#2e8939;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-15 {
	background-color:#2e8939;
	border-color:#d4d4d4;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-16 {
	background-color:#2e8939;
	border-color:#2e8939;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-17 {
	background-color:#41ad49;
	border-color:#41ad49;
	border-width:1px;
}
div._idGenObjectStyleOverride-18 {
	border-color:#41ad49;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-19 {
	background-color:#efebe0;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
